<div class="container">
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <h1 class="fw-bold text-gray-900 mb-4">
        {{ "OOPS" | translate }} !
      </h1>
      <!--end::Title-->
  
      <!--begin::Text-->
      <div class="fs-4 mb-4">
        {{ "NOT_FOUND_TITLE" | translate }}
      </div>
      <!--end::Text-->
  
      <!--begin::Link-->
      <div class="mb-0">
        <a
          routerLink="/pages/home"
          class="btn btn-primary btn-lg font-semibold"
          >{{ "BACK_TO_HOME" | translate }}</a
        >
      </div>
      <!--end::Link-->
    </div>
  
    <!--begin::Illustration-->
    <div class="mb-3">
      <img
        src="./assets/images/auth/error-404.png"
        class="img-fluid m-w-500px"
        alt="error 404"
      />
    </div>
    <!--end::Illustration-->
  </div>
  
</div>